*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
  padding: 30px; }

.header {
  background-image: linear-gradient(to right bottom, rgba(142, 158, 252, 0.7), rgba(28, 62, 255, 0.7)), url("../img/background.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  height: 95vh;
  clip-path: ellipse(60% 60% at 50% 33%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    height: 70px; }
  .header__logo-box {
    position: absolute;
    top: 30px;
    left: 30px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-size: 6.2rem;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 14px;
    animation: moveInRight 1s ease-out; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 100px;
  position: relative;
  transition: all 0.3s; }

.btn--white {
  color: #777777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: btnInBottom 1s ease-out; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scalex(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  z-index: -1;
  transition: all .3s; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes btnInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

html {
  font-size: 62.5%; }
