@import './Abstracts/variable';
@import './Base/animations';
@import './Base/base';
@import './Base/typography';
@import './Components/buttons';
@import './Layout/header';
@import './Layout/grid';
@import './Pages/home';
@import './Base/utilities';
@import './Components/composition';
@import './Components/skills_box';
@import './Components/card';
@import './Components/enroll';
@import './Components/form';
