.btn{
    &:link,
    &:visited
    {
     text-transform: uppercase;
     text-decoration: none;
     padding: 15px 40px;
     display: inline-block;
     font-size: 1.6rem;
     border-radius: 100px;
     position: relative;
     transition: all 0.3s;   
    }
        &--white
    {
        color: $color-grey;
        background-color: $color-white;
        &::after
        {
            background-color: $color-white;
        }
    }
        &--animated
    {
        animation: btnInBottom 1s ease-out;
    }
        &:hover
    {
        transform: translateY(-5px);
        box-shadow: 0 5px 20px rgba($color-black, .2);
        &::after
        {
            transform: scalex(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
        &:active
    {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black, .2);
    }
        &::after
    {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100px;
        z-index: -1;
        transition: all .3s;
    }
    &--blue
    {
        background-color: $color-primary;
        color: $color-white;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        &::after
        {
            background-color: $color-primary;
        }
    }
    }
.btn-text
{
    &:link,
    &:visited{
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 0.3rem;
        font-size: $defaul-font-size;
        text-transform: uppercase;
    }
    &:hover
    {
        color: $color-white;
        background-color: $color-primary;
        box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.2);
        transform: translateY(-0.5rem);
    }
    &:active{
        box-shadow: 0 0.5rem 1rem rgba($color: $color-black, $alpha: 0.2);
        transform: translate(0);
    }
    transition: all 0.2s;
}    