.skill-box
{
    text-align: center;
    background-color: rgba($color: $color-white, $alpha: 0.8);
    padding: 2.5rem 2.5rem 5rem 2.5rem;
    font-size: $defaul-font-size;
    border-radius: 5rem;
    box-shadow: 0 1rem 2.5rem rgba($color: $color-black, $alpha: 0.8);
    height: 35rem;
    transition: all 0.2s;
    &__icon
    {
        font-size: $gutter-horizontal;
        margin-bottom: 1.5rem;
        display: inline-block;
        background-image: linear-gradient(to right,$color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
    }
    &:hover
    {
        transform: translateY(-1rem) scale(1.05);
        box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 0.8);
        cursor: pointer;
    }
}